{% extends 'base.html' %}
{% load static %}
{% load carts_tags %}


{% block content %}

	<!-- Контент на сторінці -->
	<div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
		<div class="container">
			<h3 class="text-center mb-4">Вибрані товари</h3>
			<div class="container" id="cart-items-container">
				<!-- Розмітка кошика -->

				{% user_carts request as carts %}

				{% include 'carts/includes/included_cart.html' %}

				<!-- Закінчилась розмітка кошика -->
			</div>
		</div>
		<!-- Деталі замовлення -->
		<div class="container">
			<h3 class="text-center">Деталі замовлення</h3>
			<div class="card mb-3">
				<div class="card-body">
					<form action="{% url 'orders:create_order' %}" method="post">}">

						{% csrf_token %}

						<div class="row">
							<div class="col-md-6 mb-3">
								<label for="id_first_name" class="form-label">Ім'я*:</label>
								<input type="text" class="form-control" id="id_first_name"
								       value="{% if from.first_name.value %}{{ from.first_name.value }}{% endif %}"
								       name="first_name" required>
								{% if form.first_name.errors %}
									<div class="alert alert-danger alert-dismissible fade show">
										{{ form.first_name.errors }}
									</div>
								{% endif %}
							</div>
							<div class="col-md-6 mb-3">
								<label for="id_last_name" class="form-label">Прізвище*:</label>
								<input type="text" class="form-control" id="id_last_name"
								       value="{% if from.last_name.value %}{{ from.last_name.value }}{% endif %}"
								       name="last_name" required>
								{% if form.last_name.errors %}
									<div class="alert alert-danger alert-dismissible fade show">
										{{ form.last_name.errors }}
									</div>
								{% endif %}
							</div>
							<div class="col-md-6 mb-3">
								<label for="id_phone_number" class="form-label">Номер телефона*:</label>
								<input type="text" class="form-control" id="id_phone_number"
								       value="{% if from.phone_number.value %}{{ from.phone_number.value }}{% endif %}"
								       name="phone_number"
								       placeholder="У форматі: XXX-XXX-XX-XX"
								       required>
								{% if form.phone_number.errors %}
									<div class="alert alert-danger alert-dismissible fade show">
										{{ form.phone_number.errors }}
									</div>
								{% endif %}
							</div>
							<div class="col-md-12 mb-3">
								<label for="delivery" class="form-label">Способ доставки: </label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="required_delivery"
									       id="id_required_delivery" value="1" checked>
									<label class="form-check-label" for="id_required_delivery">Потрібна
										доставка</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="required_delivery"
									       id="id_required_delivery" value="0">
									<label class="form-check-label" for="id_required_delivery">Самовивіз</label>
								</div>
							</div>
							<div class="mb-3" id="deliveryAddressField">
								<label for="id_delivery_address" class="form-label">Адреса
									доставки*:</label>
								<textarea class="form-control" id="id_delivery_address"
								          value="

										          {% if from.delivery_address.value %}{{ from.delivery_address.value }}{% endif %}"
								          name="delivery_address" rows="2"></textarea>
								{% if form.delivery_address.errors %}
									<div class="alert alert-danger alert-dismissible fade show">
										{{ form.delivery_address.errors }}
									</div>
								{% endif %}
							</div>
							<div class="col-md-12 mb-3">
								<label class="form-label">Способ оплати: </label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="payment_on_get"
									       id="id_payment_on_get" value="0" checked>
									<label class="form-check-label" for="id_payment_on_get">Оплата
										картой</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="payment_on_get"
									       id="id_payment_on_get" value="1">
									<label class="form-check-label" for="id_payment_on_get">Готівкою/карткою при
										отриманні</label>
									{% if form.payment_on_get.errors %}
										<div class="alert alert-danger alert-dismissible fade show">
											{{ form.payment_on_get.errors }}
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-dark">Оформити заказ</button>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}





